/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');

/* Define Monad color palette as CSS variables */
:root {
  --monad-off-white: rgba(251, 250, 249, 1); /* #FBFAF9 */
  --monad-purple: rgba(131, 110, 249, 1);    /* #836EF9 */
  --monad-blue: rgba(32, 0, 82, 1);          /* #200052 */
  --monad-berry: rgba(160, 5, 93, 1);        /* #A0055D */
  --monad-black: rgba(14, 16, 15, 1);        /* #0E100F */
  --white: rgba(255, 255, 255, 1);           /* #FFFFFF */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--monad-black); /* Set default background to Monad Black */
  color: var(--monad-off-white); /* Default text color */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}